<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Query History</title>
</head>
<body>

{% if uid != None %}

    <div>
        {% if status['status_message'] != '' %}
            <p id="{{ status['element_id'] }}">{{ status['status_message'] }}</p>
        {% endif %}
    </div>

    {% if user_type == 0 %}

        <div>
            <ul>
                {% for login_record in login_records %}
                    <li id="login{{ login_record.id }}">login{{ login_record.id }}_{{ login_record.time_on }}</li>
                    <li id="logout{{ login_record.id }}">login{{ login_record.id }}_N/A</li>
                {% endfor %}
            </ul>
        </div>


        <div>
            <form method="post">
                <br>
                <label for="userquery">Enter User Name</label>
                <br>
                <input type="text" name="userquery" id="userquery"/>
                <br>
                <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token }}">
                <input type="submit"/>
            </form>
        </div>


    {% endif %}

{% else %}

    <p> Login FIRST!</p>

{% endif %}

</body>
</html>