<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The One and Only Spell Checker</title>
</head>
<body>

<div>
    {% if status['status_message'] != '' %}
        <p id="{{ status['element_id'] }}">{{ status['status_message'] }}</p>
    {% endif %}
</div>

{% if uid != None %}

    <div>
        <p>The one and only spell checker is here. Ladies and Gentlemen, paste your text!</p>
    </div>

    <div>
        <form method="post">
            <textarea name="inputtext" id="inputtext" cols="50" rows="5"></textarea>
            <br/>
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token }}">
            <input type="submit"/>
        </form>
    </div>

{%  else %}

    <p> Login FIRST!</p>

{% endif %}

</body>
</html>